<div class="bg-dark header-bar">
  <span class="ps"></span>
  <div class="dropdown">
    <button
      class="button header-button"
      data-bs-auto-close="outside"
      type="button"
      id="Files"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Files
    </button>
    <ul
      class="dropdown-menu tool-bar-drop tool-bar-dropdown"
      aria-labelledby="Files"
    >
      <li>
        <button class="button align-bottom" (click)="importEventLog()">
          <div>
            <i class="bi bi-upload btn-icon"></i>
            <span><b>Import</b> event log</span>
          </div>
        </button>
      </li>
      <li>
        <button class="button align-bottom" (click)="importTreeFromPTML()">
          <div>
            <i class="bi bi-file-earmark-arrow-up btn-icon"></i>
            <span
              ><b>Import</b> process tree (<samp class="text-primary fw-bold"
                >.ptml</samp
              >)</span
            >
          </div>
        </button>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <button class="button align-bottom" (click)="exportTreeAsPTML()">
          <div>
            <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
            <span
              ><b>Export</b> model as Process tree (<samp
                class="text-primary fw-bold"
                >.ptml</samp
              >)</span
            >
          </div>
        </button>
      </li>

      <li>
        <button class="button align-bottom" (click)="exportTreeAsPNML()">
          <div>
            <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
            <span
              ><b>Export</b> model as Petri net (<samp
                class="text-primary fw-bold"
                >.pnml</samp
              >)</span
            >
          </div>
        </button>
      </li>

      <li>
        <button class="button align-bottom" (click)="exportTreeAsBPMN()">
          <div>
            <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
            <span
              ><b>Export</b> model as BPMN (<samp class="text-primary fw-bold"
                >.bpmn</samp
              >)</span
            >
          </div>
        </button>
      </li>
      <li>
        <div class="dropend">
          <button
            type="button"
            class="button align-bottom dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="dropright-header">
              <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
              <span
                ><b>Export</b> Log as XES (<samp class="text-primary fw-bold"
                  >.xes</samp
                >)</span
              >
            </div>
          </button>
          <ul class="dropdown-menu tool-bar-drop tool-bar-dropright">
            <li>
              <button
                class="button align-bottom"
                (click)="exportVariantsAsLog(exportVariant.ALL)"
              >
                <div>
                  <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
                  <span
                    ><b>Export</b> all Traces (<samp
                      class="text-primary fw-bold"
                      >.xes</samp
                    >)</span
                  >
                </div>
              </button>
            </li>
            <li>
              <button
                class="button align-bottom"
                (click)="exportVariantsAsLog(exportVariant.SELECTED)"
              >
                <div>
                  <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
                  <span
                    ><b>Export</b> selected Traces (<samp
                      class="text-primary fw-bold"
                      >.xes</samp
                    >)</span
                  >
                </div>
              </button>
            </li>
            <li>
              <button
                class="button align-bottom"
                (click)="exportVariantsAsLog(exportVariant.FITTING)"
              >
                <div>
                  <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
                  <span
                    ><b>Export</b> fitting Traces (<samp
                      class="text-primary fw-bold"
                      >.xes</samp
                    >)</span
                  >
                </div>
              </button>
            </li>
            <li>
              <button
                class="button align-bottom"
                (click)="exportVariantsAsLog(exportVariant.NONFITTING)"
              >
                <div>
                  <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
                  <span
                    ><b>Export</b> non-fitting Traces (<samp
                      class="text-primary fw-bold"
                      >.xes</samp
                    >)</span
                  >
                </div>
              </button>
            </li>
            <li>
              <button
                class="button align-bottom"
                (click)="exportVariantsAsLog(exportVariant.DISPLAYED)"
              >
                <div>
                  <i class="bi bi-file-earmark-arrow-down-fill btn-icon"></i>
                  <span
                    ><b>Export</b> displayed Traces (<samp
                      class="text-primary fw-bold"
                      >.xes</samp
                    >)</span
                  >
                </div>
              </button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="button header-button" (click)="showSettingsDialog()">
      Settings
    </button>
  </div>

  <div class="dropdown">
    <button
      class="button header-button"
      type="button"
      id="Editors"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Editors
    </button>
    <ul
      class="dropdown-menu tool-bar-drop tool-bar-dropdown"
      aria-labelledby="Files"
    >
      <li>
        <button class="button align-bottom" (click)="openProcessTreeEditor()">
          <div>
            <i class="bi bi-diagram-2 btn-icon"></i>
            <span><b>Open</b> Process Tree Editor</span>
          </div>
        </button>
      </li>
      <li>
        <button class="button align-bottom" (click)="openBPMNViewer()">
          <div>
            <i class="bi bi-diagram-2 btn-icon rotate-270"></i>
            <span><b>Open</b> BPMN Viewer</span>
          </div>
        </button>
      </li>
      <li>
        <button class="button align-bottom" (click)="openVariantEditor()">
          <div>
            <i class="bi bi-tools btn-icon"></i>
            <span> <b>Open</b> Variant Modeler </span>
          </div>
        </button>
      </li>
      <li>
        <button class="button align-bottom" (click)="openVariantMiner()">
          <div>
            <i class="bi bi-minecart btn-icon"></i>
            <span> <b>Open</b> Variant Miner </span>
          </div>
        </button>
      </li>
    </ul>
  </div>

  <input
    #fileUploadEventLog
    type="file"
    class="d-none"
    (change)="handleSelectedEventLogFile($event)"
    accept=".xes"
  />

  <input
    #fileUploadProcessTree
    type="file"
    class="d-none"
    (change)="handleSelectedProcessTreeFile($event)"
    accept=".ptml"
  />
</div>

<app-settings [showSettings]="showSettingsEvent.asObservable()"></app-settings>
