<div class="bpmn-tree-editor h-100 d-flex flex-column">
  <div class="bg-dark btn-tool-bar">
    <button
      class="button text-warning"
      (click)="deleteSelected()"
      [disabled]="deleteInactive()"
      ngbTooltip="remove selected node(s)"
      container="body"
    >
      <i class="bi bi-trash btn-icon"></i>
    </button>

    <span class="vl"></span>

    <button
      class="button btn-fixed-width"
      (click)="undo()"
      [disabled]="!(treeCacheLength - 1 > 0 && treeCacheIndex !== 0)"
      ngbTooltip="undo"
      container="body"
    >
      <i class="bi bi-arrow-counterclockwise btn-icon"></i>
      <span
        class="text-secondary"
        *ngIf="treeCacheLength - 1 > 0 && treeCacheIndex !== 0"
      >
        ({{ treeCacheIndex }})
      </span>
    </button>

    <button
      class="button btn-fixed-width"
      (click)="redo()"
      [disabled]="!(treeCacheIndex < treeCacheLength - 1)"
      ngbTooltip="redo"
      container="body"
    >
      <i class="bi bi-arrow-clockwise btn-icon"></i>
      <span class="text-secondary" *ngIf="treeCacheIndex < treeCacheLength - 1">
        ({{ treeCacheLength - 1 - treeCacheIndex }})
      </span>
    </button>

    <span class="vl"></span>

    <button
      class="button"
      (click)="selectNode()"
      [class.button-active]="
        nodeSelectionStrategy === NodeSeletionStrategy.NODE
      "
      ngbTooltip="select node"
      container="body"
    >
      <i class="bi bi-fullscreen btn-icon text-danger"></i>
      <div class="button-text px-1">select node</div>
    </button>

    <button
      class="button"
      (click)="selectSubtree()"
      [class.button-active]="
        nodeSelectionStrategy === NodeSeletionStrategy.TREE
      "
      ngbTooltip="select subtree"
      container="body"
    >
      <i class="bi bi-fullscreen btn-icon text-danger"></i>
      <div class="button-text px-1">select subtree</div>
    </button>

    <button
      class="button"
      (click)="clearSelection()"
      ngbTooltip="clear selection"
      container="body"
    >
      <i class="bi bi-x-lg btn-icon text-danger"></i>
      <div class="button-text px-1">clear selection</div>
    </button>

    <span class="vl"></span>

    <ng-template #freezeTooltip>
      (un)freeze <em>entire</em> subtree to prevent them from being changed when
      adding variants
    </ng-template>
    <button
      class="button"
      (click)="freezeSubtree()"
      [disabled]="buttonFreezeSubtreeDisabled()"
      [ngbTooltip]="freezeTooltip"
      container="body"
    >
      <i
        class="bi bi-snow btn-icon"
        [ngClass]="!buttonFreezeSubtreeDisabled() ? 'text-primary' : ''"
      ></i>
      <div class="button-text px-1">(un)freeze subtrees</div>
    </button>

    <span class="vl"></span>

    <button
      class="button ms-auto"
      ngbTooltip="reset view"
      container="body"
      (click)="reset_zoom(true)"
    >
      <i class="bi bi-arrows-fullscreen btn-icon text-light"></i>
    </button>

    <button
      class="button"
      ngbTooltip="export the model as an .svg"
      container="body"
      (click)="exportBPMN(bpmn)"
    >
      <i class="bi bi-save"></i>
    </button>
  </div>

  <div #BPMNcontainer class="m-1 flex-grow-1 crosshair grid">
    <svg #bpmn class="editor-zone" width="100%" height="100%">
      <g id="bpmn-zoom-group">
        <g
          #d3svgDirective
          appBpmnDrawer
          [computeNodeColor]="computeNodeColor"
          [computeTextColor]="computeTextColor"
          [tooltipText]="tooltipContent"
          [onClickCallBack]="selectNodeCallBack"
          id="d3-svg-directive"
          width="100%"
          height="100%"
        ></g>
      </g>
    </svg>
  </div>
</div>
