/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


:host {
  height: calc(100vh - var(--header-bar-height) - var(--footer-bar-height));
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: var(--header-bar-height);
}


.bootstrap-container {
  background-color: #2e3439;
  color: #f5f5f5;
}

