.lm_goldenlayout{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.lm_goldenlayout{
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.lm_tab {
  background: var(--box-background-color)!important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.lm_tab.lm_active {
  background: rgb(119, 117, 117)!important;
}

.lm_header .lm_tab.lm_active {
  border-bottom: none;
  padding-bottom: 8.5px;
}

.lm_header .lm_tab{
  cursor: pointer;
  float: left;
  height: 10px;
  padding: 0px 18px 8.5px 5px;
  position: relative;
  touch-action: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-filter: blur(0);
  filter: blur(0);
  backface-visibility: hidden;
}

.lm_header{
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  border-bottom: 1px solid black;
}


.process-tree-editor-stack{

  .lm_tabs{
    margin-top : 1.5px;
  }

}


.variant-explorer-stack{

  .lm_header{
    margin-left: 20px;
  }

}


.info-box-stack{

  .lm_header{
    padding-left: 10px;
  }

}





