<td #row style="text-align: center">{{ index + 1 }}.</td>

<ng-container *ngIf="isVisible; else loadingPlaceholder">
  <td>
    <div [ngTemplateOutlet]="variantInfo"></div>
  </td>

  <td>
    <ng-container [ngTemplateOutlet]="subvariantButton"> </ng-container>
  </td>

  <td *ngIf="processTreeAvailable" style="text-align: center">
    <div [ngTemplateOutlet]="treeButton"></div>
  </td>

  <td class="variant-cell">
    <ng-container
      *ngIf="
        !(
          variant.userDefined &&
          variantViewModeService.viewMode === VM.PERFORMANCE
        );
        else noPerformance
      "
    >
      <ng-container [ngTemplateOutlet]="variantDrawer"> </ng-container>
    </ng-container>

    <ng-template #noPerformance>
      <tspan class="ms-2"> Performance not available </tspan>
    </ng-template>
  </td>

  <td
    *ngIf="
      traceInfixSelectionMode && variantViewModeService.viewMode === VM.STANDARD
    "
    class="infix-selection-buttons-panel"
  >
    <ng-container [ngTemplateOutlet]="infixSelection"> </ng-container>
  </td>

  <td
    *ngIf="
      !traceInfixSelectionMode &&
      variantViewModeService.viewMode !== VM.PERFORMANCE
    "
    class="fixed-right"
    style="padding-left: 0px"
  >
    <ng-container [ngTemplateOutlet]="removeVariantButton"></ng-container>
  </td>
</ng-container>

<ng-template #loadingPlaceholder>
  <td>
    <div
      class="variant-spacer"
      [ngStyle]="{ height: variant.variant.getHeight() + 'px' }"
    >
      Loading...
    </div>
  </td>
</ng-template>
