.idea
/.idea/

cortado-backend
src/backend/build
src/backend/dist
backend/tmp/*.p
__pycache__/
.venv
build
dist
.vscode

src/backend/cortado_core
src/backend/pm4py
*.sol
*.mps
app-dist
.mps
.sol

event_log.p
