.idea
/.idea/

.direnv
.envrc

cortado-backend
src/backend/build
src/backend/dist
src/backend/tmp/*.p
__pycache__/
.venv
dist
.vscode
.angular/
venv
node_modules

src/backend/cortado_core
src/cortado_core
src/backend/pm4py
*.sol
*.mps
app-dist
.mps
.sol

event_log.p
