<div
  style="
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px 10px 5px 10px;
  "
  [ngClass]="{
    'selected-variant-performance': isPerformanceActive(variant),
    'light-dashed-border':
      isPerformanceAvailable(variant) && !isPerformanceActive(variant)
  }"
>
  <button
    type="button"
    class="btn variant-performance-button"
    (click)="showSelectedPerformance()"
    [style.background]="computePerformanceButtonColor(variant)"
    ngbTooltip="calculate model performance of this variant"
    container="body"
    [id]="'performanceButton' + variant.bid"
    style="display: flex; flex-direction: column"
  >
    <i
      *ngIf="isPerformanceAvailable(variant) && !variant.userDefined"
      class="bi bi-graph-up align-middle font-large variant-performance-icon"
      [style.color]="textColorForBackgroundColor(variant)"
    >
      <i
        *ngIf="isPerformanceFitting(variant) && !variant.userDefined"
        class="bi bi-exclamation-triangle-fill"
      ></i>
    </i>
    <i
      class="bi bi-stopwatch"
      *ngIf="!isPerformanceAvailable(variant) && !variant.userDefined"
      style="color: white"
    >
    </i>
    <div
      *ngIf="isPerformanceCalcInProgress(variant) && !variant.userDefined"
      class="spinner-border spinner-border-sm text-primary"
      role="status"
      style="margin-top: 5px"
    ></div>
  </button>
  <button
    style="padding: 0"
    *ngIf="isPerformanceAvailable(variant) && !variant.userDefined"
    class="btn"
    (click)="removeCurrentPerformance()"
    ngbTooltip="remove performance values of this variant"
    container="body"
  >
    <i class="bi bi-x-lg" style="color: white"></i>
  </button>
</div>
