.loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress-color {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}