.tiebreaker-editor{
    display: block;
    margin: 0;
    border-radius: 3px;
    color : var(--text-secondary);
    resize: none;
    width: 100%;
    cursor:text;
    padding: 10px;
    font-size: var(--standard-font-size);
    letter-spacing: 0.25px;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  }
  
  .tiebreaker-editor:focus{
    outline: none;
    box-shadow: none;
  }