.colorMapLabel {
  position: absolute;
  top: -11px;
  font-size: 12px;
  background: lightgrey;
  padding-right: 4px;
  padding-left: 4px;
  color: black;
  margin-left: 15px;
}

.color-map {
  padding-top: 10px;
  padding-bottom: 10px;
}
