:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
}

.nav-tabs {
  padding-bottom: 5px;
}

.color-map {
  padding: 10px;
  display: flex;
}

.card {
  background-color: transparent;
  border: 0px;
}
