:host {
  &:last-child .bar {
    display: none;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.content {
  flex: 1;
}

.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  margin: 0px -7px 0px 0px;
  justify-self: flex-end;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background: #b9b9b9;
  background-clip: content-box;
  cursor: col-resize;
  opacity: 0;
  transition: opacity 0.3s;
  &:hover,
  &:active {
    opacity: 1;
  }
}
