
.tree-syntax-string{
  color : var(--text-secondary);
}

.expert-mode-body{
  background-color: var(--box-background-color);
}

.syntax-error{
  color : var(--bs-warning);
  font-size : smaller;
  overflow: scroll;
  max-height: 8em;
}

.backend-error{
  color : var(--bs-danger);
}

.form-container{
  width: 90%;
  height: 45%;
  display: block;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
  margin: 0.5rem auto 0 auto;
}

.tree-string-heading{
  vertical-align: super;
}

.expert-mode-tool-bar{
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.expert-mode-open-button {
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  border-top-left-radius: 5px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.expert-mode-app-container{
  width: 100%;
  height: 100%;
  background-color: var(--box-background-color);
}

.expert-mode-button{
  color: var(--text-secondary);
  font-size: var(--standard-font-size);
  cursor : pointer;
}

.expert-mode-header{
  color: var(--text-secondary);
  font-size: var(--standard-font-size);
  padding : 2px 0px 2px 6px;
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: center;
}

.backend-error{
  color : var(--bs-danger);
}

.syntax-error{
  color : var(--bs-warning);
  font-size : smaller;
  overflow: scroll;
  max-height: 8em;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.expert-mode-editor{
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border-radius: 3px;
  color : var(--text-secondary);
  overflow: auto;
  resize: none;
  width: 100%;
  height : 100%;
  cursor:text;
  padding: 10px;
  font-size: var(--standard-font-size);
  letter-spacing: 0.25px;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.expert-mode-editor:focus{
  outline: none;
  box-shadow: none;
}
