<div class="card text-white mb-3" *ngIf="serviceTimeValues">
  <div class="card-body">
    <h5 class="card-title">Service Time</h5>

    <div class="mb-3">
      <select
        class="form-select form-select-sm"
        aria-label="variance service time aggregation statistic"
        (change)="serviceTimeColorScaleChange($event)"
        name="performanceValue"
      >
        <option
          *ngFor="let pValue of availablePerformanceValues"
          [value]="pValue[1]"
        >
          {{ pValue[0] }}
        </option>
      </select>
      <!--<div class="form-text">Service time aggregation method</div>-->
    </div>

    <app-color-map [colorMapValues]="serviceTimeValues"></app-color-map>
  </div>
</div>

<div class="card text-white mb-3" *ngIf="waitingTimeValues">
  <div class="card-body">
    <h5 class="card-title">Waiting Time</h5>

    <div class="mb-3">
      <select
        class="form-select form-select-sm"
        aria-label="variance service time aggregation statistic"
        (change)="waitingTimeColorScaleChange($event)"
        name="performanceValue"
      >
        <option
          *ngFor="let pValue of availablePerformanceValues"
          [value]="pValue[1]"
        >
          {{ pValue[0] }}
        </option>
      </select>
      <!--<div class="form-text">Waiting time aggregation method</div>-->
    </div>

    <app-color-map [colorMapValues]="waitingTimeValues"></app-color-map>
  </div>
</div>
