<div
  style="
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px 10px 5px 10px;
  "
  [ngClass]="{
    'selected-variant-performance': isPerformanceActive,
    'light-dashed-border': isPerformanceAvailable && !isPerformanceActive
  }"
>
  <button
    type="button"
    class="btn variant-tree-projection-button"
    (click)="showSelectedPerformance()"
    [style.background]="computePerformanceButtonColor(variant)"
    [ngbTooltip]="tooltip"
    container="body"
    [id]="'performanceButton' + variant.bid"
    style="display: flex; flex-direction: column"
  >
    <ng-template #tooltip>
      <div *ngIf="isPerformanceAvailable; else tooltipPerfNotAvailable">
        {{ tooltipText }}
        <hr class="tooltip-hr" />
        click to visualize performance of this variant on model
        <div *ngIf="!isPerformanceFitting">
          <hr class="tooltip-hr" />
          <i class="bi bi-exclamation-triangle-fill text-warning">
            Unfitting traces: possibly unreliable model performance values!
          </i>
          <br />
          Fitness: {{ variantFitness }}
        </div>
      </div>

      <ng-template #tooltipPerfNotAvailable
        >calculate model performance of this variant</ng-template
      >
    </ng-template>
    <i
      *ngIf="isPerformanceAvailable && !variant.userDefined"
      class="bi bi-graph-up align-middle font-large variant-performance-icon"
      [style.color]="textColorForBackgroundColor(variant)"
    >
      <i
        *ngIf="!isPerformanceFitting && !variant.userDefined"
        class="bi bi-exclamation-triangle-fill"
      ></i>
    </i>
    <i
      class="bi bi-stopwatch"
      *ngIf="!isPerformanceAvailable && !variant.userDefined"
      style="color: white"
    >
    </i>
    <div
      *ngIf="isPerformanceCalcInProgress && !variant.userDefined"
      class="spinner-border spinner-border-sm text-primary"
      role="status"
      style="margin-top: 5px"
    ></div>
  </button>
  <button
    style="padding: 0; margin-left: 5px"
    *ngIf="isPerformanceAvailable && !variant.userDefined"
    class="btn"
    (click)="removeCurrentPerformance()"
    ngbTooltip="remove performance values of this variant"
    container="body"
  >
    <i class="bi bi-x-lg" style="color: white"></i>
  </button>
</div>
