<div class="activity-button-area bg-dark">
  <div class="activity-button-container" *ngFor="let activity of activityNames">
    <!-- <app-variant-drag-source [colorMap]="colorMap" [activity]="activity"> </app-variant-drag-source> -->

    <svg
      #ActivityButton
      appVariantDrawer
      [variant]="{ variant: activityDummyVariants.get(activity) }"
      [computeActivityColor]="computeActivityColor"
      [onMouseOverCbFc]="onMouseOverCbFc"
      [highlightOnMouseover]="true"
      (click)="onActivityButtonClick(ActivityButton, activity)"
      class="activity-button"
    ></svg>
  </div>
</div>
