.variant-query-info-container{
  width : 100%;
  height : 100%;
  background-color: black;
  overflow: auto;
  padding: 10px 0px;
  color: var(--text-secondary);
}

.variant-query-info{
  margin-top: 25px;
  position: fixed;
  top: 0px;
  left: 65%;
  height: calc(100vh - 45px);
  z-index: 100;
}


.variant-query-info-header{
  padding: 5px 20px;
  border-bottom:grey solid 2px;
  width : 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: baseline;
}

.variant-query-info-content{
  padding: 0px 20px;
}

.logical-operator{
  color :rgb(65, 141, 213);
  padding: none;
  inline-size: 12px;
  user-select: text;
}

.example-text {
  text-align: center;
  font-weight: bold;
  user-select: text;
  margin: 5px;
}

.activity{
  color : green;
  padding: none;
  inline-size: 12px;
}

tbody tr {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.button-heading{

}
